# --- Django Core Settings ---
DEBUG =
SECRET_KEY =
ALLOWED_HOSTS =

# --- Database Settings ---
DATABASE_URL = 

# --- Safaricom Daraja API (Common) ---
MPESA_ENVIRONMENT =
MPESA_CONSUMER_KEY =
MPESA_CONSUMER_SECRET =

# --- M-Pesa C2B / STK Push ---
MPESA_SHORTCODE =
MPESA_PASSKEY =
MPESA_C2B_CALLBACK_URL = https://your-name.ngrok-free.dev/escrow/mpesa-callback/

# --- M-Pesa B2C (Payouts) ---
MPESA_B2C_SHORTCODE =
MPESA_INITIATOR_NAME =

# The Security Credential is the encrypted Initiator Password
MPESA_SECURITY_CREDENTIAL =
MPESA_B2C_CALLBACK_URL = https://your-name.ngrok-free.dev/wallet/b2c-callback/

# --- Africa's Talking Settings ---
AT_USERNAME=sandbox
AT_API_KEY=your_africas_talking_api_key
AT_PHONE_NUMBER=your_at_virtual_number
AT_SHORTCODE=23550

# --- Platform Settings ---
PLATFORM_FEE_PERCENTAGE = 0.10